<div class="well">
<p>
  <b>Important</b>:  The name that you give your Job Binary will be the name used in your Job Execution.
  If your binary requires a particular name or extension (ie: ".jar"), be sure to include it here.
</p>
<p>
  Select the storage type for your Job Binary.
  <ul>
    <li>Savanna internal database</li>
    <li>Swift internal (to openstack)</li>
  </ul>
</p>
<p>
  For Savanna internal job binaries, you may choose from the following:
  <ul>
    <li>Choose an existing file</li>
    <li>Upload a new file</li>
    <li>Create a script to be uploaded dynamically</ul>
  </ul>
</p>
<p>
  For Swift internal job binaries, you must:
  <ul>
    <li>Enter the URL for the file</li>
    <li>Enter the username and password required to access that file</li>
  </ul>
</p>
<p>
  You may also enter an optional description for your Job Binary.
</p>
</div>