<div class="field-filter">
    <div class="simple-config">
        <a class="advance-config-show" onclick="show_not_important_fields(this);">Show advance configuration</a>
    </div>
    <div class="advance-config">
        <input type="text" class="field-filter" placeholder="Filter" style="background:no-repeat scroll 195px 5px transparent url('/static/dashboard/img/search.png');"/><br>
        <a class="advance-config-hide" onclick="hide_not_important_fields(this);">Hide advance configuration</a>
    </div>
</div>
