[common]
base_url = "http://127.0.0.1:8080"
user = "admin"
password = "admin"
# in minutes
cluster_creation_timeout = 10
# in seconds
await_element = 10
image_name_for_register = 'image_name'
image_name_for_edit = 'image_name'
[vanilla]
skip_plugin_tests = False
plugin_name = "Vanilla Apache Hadoop"
plugin_overview_name = "vanilla"
hadoop_version = "1.2.1"
processes = {"NN": 0, "DN": 1, "SNN": 2, "OZ": 3, "TT": 4, "JT": 5}
base_image = "image_name"
[hdp]
skip_plugin_tests = False
plugin_name = "Hortonworks Data Platform"
hadoop_version = "1.3.0"
base_image = "image_name"