{% load i18n sizeformat %}
<h3>{% trans "Job Overview" %}</h3>
<div class="status row-fluid detail">
    <dl>
        <dt>{% trans "Name" %}</dt>
        <dd>{{ job.name }}</dd>
        <dt>{% trans "Id" %}</dt>
        <dd>{{ job.id }}</dd>
        <dt>{% trans "Type" %}</dt>
        <dd>{{ job.type }}</dd>
        <dt>{% trans "Input type" %}</dt>
        <dd>{{ job.input_type }}</dd>
        <dt>{% trans "Output type" %}</dt>
        <dd>{{ job.output_type }}</dd>
        <dt>{% trans "Job origin id" %}</dt>
        <dd>{{ job.job_origin_id }}</dd>
        <dt>{% trans "Tenant id" %}</dt>
        <dd>{{ job.tenant_id }}</dd>
        <dt>{% trans "Description" %}</dt>
        <dd>{{ job.description|default:"None" }}</dd>
        <dt>{% trans "Create time" %}</dt>
        <dd>{{ job.created_at }}</dd>
    </dl>
</div>
