<script>
    var template = '<tr id_attr="$id">' +
            '<div class="input control-group">' +
            '<td>' +
            '<input style="display: inline" field="key" list="properties" placeholder="Select property name" onkeyup="trySetValue(this)" onchange="trySetValue(this)" onclick="trySetValue(this)"/></td>' +
            '<td>' +
            '<input style="display: inline; margin-left:10px; margin-right:10px" field="value" class="input-medium" onkeyup="set_props()" onchange="set_props()" onclick="set_props()" /></td>' +
            '<td>' +
            '<input style="display: inline; margin-top:-10px" type="button" class="btn btn-danger" id="delete_btn_$id" data-toggle="dropdown" onclick="delete_prop(this)" value="Remove"/></td></div>' +
            '</tr>';

    function get_next_id() {
        var max = -1;
        $("#props tbody tr").each(function () {
            max = Math.max(max, parseInt($(this).attr("id_attr")));
        });
        return max + 1;
    }

    function set_props() {
        var props = {};
        var i = 0;
        $("#props tbody tr").each(function () {
            var key = $(this).find("td input[field=key]").val();
            props[key] = $(this).find("td input[field=value]").val();
        });
        $("#conf_props").val(JSON.stringify(props));
    }

    function add_prop(id) {
        $("#props table").show();
        var tmp = template.
                replace(/\$id/g, id);
        $("#props tbody").append(tmp);
        set_props();
    }
    function delete_prop(el) {
        var tr = $(el).parents("tr")[0];
        tr.parentNode.removeChild(tr);
        var id = get_next_id();
        if (id == 0) {
            $("#props table").hide();
        }
        set_props();
    }

    function trySetValue(el) {
        var prop_id = $(el).parent().parent().attr("id_attr");
        if (properties[$(el).val()] != "undefined") {
            $("#props").find("tbody tr[id_attr='" + prop_id + "']")
                    .find("td input[field=value]").val(properties[$(el).val()])
        }
        set_props();
    }

    properties = {};
    $("label[for=id_property_name]").hide()
    $("#id_property_name").hide().find("option")
            .each(function () {
                properties[$(this).text()] = $(this).val()
            });
    $.each(properties, function (key, value) {
        $("#properties")
                .append($("<option></option>")
                        .attr("value", key)
                        .text(value))
    });
    $("#props table").hide();
</script>

{% include "horizon/common/_form_fields.html" %}

<input type="hidden" value="{}" name="conf_props" id="conf_props">

<datalist id="properties"></datalist>

<div id="props">
    <table>
        <thead>
        <tr>
            <td><label>Name</label></td>
            <td><label style="margin-left: 10px">Value</label></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="input">
        <a id="add_prop_btn" class="btn btn-inline" onclick="add_prop(get_next_id());">Add</a>
    </div>
</div>
