{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Savanna" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Savanna - Cluster Templates") %}
{% endblock page_header %}

{% block main %}

<div class="cluster_templates">
    {{ cluster_templates_table.render }}
</div>

<script type="text/javascript">
    addHorizonLoadEvent(function () {
        //hide configure button. it will be triggered with scripts
        $(".configure-clustertemplate-btn").hide();

        horizon.modals.addModalInitFunction(function (modal) {
            $(".hidden_nodegroups_field").after("<input type='button' id='add_nodegroup' value='Add Node group'/><br/>");
            $("#add_nodegroup").click(function() {
                $(".hidden_nodegroups_field").val("create_nodegroup");
                $(".hidden_configure_field").val("create_nodegroup");
                var form = $(".hidden_nodegroups_field").closest("form");
                form.submit();
            });

            var actions_table = $(".hidden_nodegroups_field").parent();
            actions_table.attr("style", "width: 100%");
            actions_table.find(".control-group").attr("style", "width: 30%; display: inline-block");
            actions_table.find(".input").children().attr("style", "width: 85%");
            actions_table.find(".count-field").closest(".control-group")
                    .after("<div style='display: inline-block' class='control-group'><div class='input'><span class='btn btn-small btn-danger ng-remove-btn'><i class='icon-remove-sign'>&nbsp&nbsp&nbsp</i></span></div></div>");

            $(".ng-remove-btn").on("click", function(event) {
                var div = $(this).closest(".control-group");
                div.hide();
                //count
                var count = div.prev();
                count.hide();
                //template
                var template = div.prev().prev();
                template.hide();
                //name
                var name = div.prev().prev().prev();
                name.hide();

                var idx = count.find("input").attr("data-count-idx");
                console.log(idx);
                $(".hidden_to_delete_field").val($(".hidden_to_delete_field").val() + "," + idx);

            });


            $(".hidden_nodegroups_field").val("");
            $(".hidden_configure_field").val("");

            if ($(modal).find(".hidden_create_field").length > 0) {
                var form = $(".hidden_create_field").closest("form");
                var successful = false;
                form.submit(function (e) {
                        var oldHref = $(".configure-clustertemplate-btn")[0].href;
                        var plugin = $("#id_plugin_name option:selected").val();
                        var version = $("#id_" + plugin + "_version option:selected").val();
                        form.find(".close").click();
                        $(".configure-clustertemplate-btn")[0].href = oldHref +
                                "?plugin_name=" + encodeURIComponent(plugin) +
                                "&hadoop_version=" + encodeURIComponent(version);
                        $(".configure-clustertemplate-btn").click();
                        $(".configure-clustertemplate-btn")[0].href = oldHref;
                        return false;
                });
                $(".plugin_version_choice").closest(".control-group").hide();
            }

            //display version for selected plugin
            $(document).on('change', '.plugin_name_choice', switch_versions);
            function switch_versions() {
                $(".plugin_version_choice").closest(".control-group").hide();
                var plugin = $(this);
                $("." + plugin.val() + "_version_choice").closest(".control-group").show();
            }
            $(".plugin_name_choice").change();
        });

    });
</script>

{% endblock %}